h2{
    color: orange;
    font-family: Trebuchet MS;
    text-align: center;
}

.kotak{
    padding: 50px;
    width: 100px;
    color: aquamarine;
    margin: 10px;
    background: orange;
}

#kotak{
    width: 400px;
    color: antiquewhite;
    padding: 50px;
    background:blue;
}

body{
    background: url(img/tree1.png), url(img/field1.png);
    background-repeat: no-repeat, repeat;
    color: white;
} 